<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Tinder for Dogs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="96x96">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link th:href="@{/css/custom.css}" href="#" rel="stylesheet" />

    <!-- JavaScript Bundle with Popper (for Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container container-fluid">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/images/logo.png}" alt="" width="28" height="28" class="d-inline-block align-text-top">
                    Tinder for Dogs
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}" th:classappend="${#request.requestURI == '/' ? 'active':''}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/tinder}" th:classappend="${#request.requestURI == '/tinder' ? 'active':''}">Like or Dislike?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/gallery}" th:classappend="${#request.requestURI == '/gallery' ? 'active':''}">Gallery</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="btn btn-outline-primary me-2" th:href="@{/login}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Login</a>
                            <a class="btn btn-outline-primary" th:href="@{/register}" th:classappend="${#request.requestURI == '/register' ? 'active':''}">Register</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
                                <button type="submit" class="btn btn-outline-primary">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="content-wrapper mt-3">
        <div class="container">
            <!--/*@thymesVar id="template" type="templates"*/-->
            <section th:include="${template}"></section>
        </div>
    </main>
<!--    <footer class="container">-->
<!--        <p>The Footer</p>-->
<!--    </footer>-->
</body>
</html>
