<!DOCTYPE html>
<html th:replace="~{frontend/layout :: layout (~{::body})}" lang="en">
<body>
    <h1>Login</h1>
    <div th:if="${param.badCredentials}" class="alert alert-danger" role="alert">
        <span>Invalid email or password!</span>
    </div>
    <div th:if="${param.logout}" class="alert alert-success" role="alert">
        <span>You have been successfully logged out.</span>
    </div>
    <div th:if="${param.registrationSuccessful}" class="alert alert-success" role="alert">
        <span>Your new account has been successfully created and you can now log in with your credentials.</span>
    </div>
    <form id="loginForm" name="loginForm" action="#" th:action="@{/login}" method="POST">
        <div class="mb-3 col-md-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="" required autofocus>
        </div>
        <div class="mb-3 col-md-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" autocomplete="current-password" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</body>
</html>
