<!DOCTYPE html>
<html th:replace="~{frontend/layout :: layout (~{::body})}" lang="en">
<body>
    <h1>Register</h1>
    <form class="row g-3" method="post" th:action="@{/register}" th:object="${registrationRequest}">
        <div class="col-md-4">
            <label for="firstname" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstname" th:field="*{firstName}" required autofocus>
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
        </div>
        <div class="col-md-4">
            <label for="lastname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastname" th:field="*{lastName}" required>
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
        </div>
        <div class="col-md-8">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-8">
            <label for="bio" class="form-label">Bio</label>
            <textarea class="form-control" id="bio" rows="5" th:field="*{bio}"></textarea>
        </div>
        <div class="col-md-8">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required aria-describedby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text">
                Your password must at least 8 characters long, contain letters and numbers, and must not contain spaces and special characters.
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="terms-and-conditions" th:field="*{agreeToTermsAndConditions}" aria-describedby="invalidCheck3Feedback" required>
                <label class="form-check-label" for="terms-and-conditions">
                    Agree to terms and conditions
                </label>
<!--                <div id="invalidCheck3Feedback" class="invalid-feedback">-->
<!--                    You must agree before submitting.-->
<!--                </div>-->
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Register</button>
            <button class="btn btn-danger" type="reset">Reset</button>
        </div>
    </form>
</body>
</html>
